@{
    ViewBag.Title = "Error 403 Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="jumbotron">
    <h1 class="display-3">403 - Forbidden</h1>
    <br />
    <p class="lead">Access is denied! You don't have permission to view this directory or page using the credentials that you suplied.</p>
</div>
