@model  List<CarsSystem.WebClient.MVC.Areas.Administration.Models.Filter.FilterViewModel>

@{
    ViewBag.Title = "Filter by vignette expiring in the next seven days";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-center">All cars which vignette expires in the next seven days!</h1>
<br />
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_FilterGrid")
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-md-offset-2">
        @using (Html.BeginForm("FilterExpiringByVignetteInTheNextSevenDays", null))
        {
            @Html.Partial("_SendingEmailForm")
        }
    </div>
</div>
