@{
    ViewBag.Title = "About";
}
<br />
<div class="jumbotron">
    <h3 class="text-center">Hello this page is about contributors to this project!</h3>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Panel info for: Todor Enikov</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            <img src="https://avatars1.githubusercontent.com/u/19978863?s=460&v=4" alt="No image!" style="float: left" width="200px" height="200px" />
            <div class="row" style="margin-left: 250px">
                Hello my name is Todor Enikov. I am currently working at R & D Solutions as Software Developer. This is my final project for my Master degree at Technical University - Sofia.
                Here is a <a href="https://www.linkedin.com/in/todor-enikov-4486b7125/">link</a> to my profile in the LinkedIn, if you want to learn something more about me. :)
            </div>
        </div>
    </div>
</div>
