@{
    ViewBag.Title = "Contact";
}
<br />
<div class="well col-md-offset-2 text-center" style="width:800px">
    <h2>@ViewBag.Title.</h2>
    <address>
        Sofia<br />
        Alexander Malinov 55<br />
        Phone: 0888 XXX XXX      
    </address>
    <h3>If you want you can write email to our support for any questions. :)</h3>
    <strong>Support:</strong>   <a href="mailto:mastikurka@gmail.com">Click to write email!</a><br />
</div>