@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h2><strong>ASP.NET MVC Cars system application.</strong></h2>
    <p class="lead">
        This is application made on ASP .NET MVC.
        It's purpose is to collect information about customers and their cars information.
        The application has administration panel and only user with role "Admin", can add information, about given customer and his car.
        The specific in this application is that the administrator of the application can filter cars by annual check up, vignette and insurance expiration and on that base to send emails to thoose customers, which expiration is soon.
    </p>
    <h3><strong>Roles in the application and what can they visit.</strong></h3>
    <ul style="list-style-type: circle">
        <li>Admin - can visit all pages in the application.</li>
        <li>Regular user - can visit home, about, contact, profile pages.</li>
        <li>Not registered user - can see only about, home, contact and login pages. </li>
    </ul>
</div>