<li>
    @Html.ActionLink("Filter taxes", "Index", "Filter", new { area = "Administration" }, htmlAttributes: new { title = "Manage" })
</li>
<li>
    @Html.ActionLink("All customers", "Index", "AllUsers", new { area = "Administration" }, htmlAttributes: new { title = "Manage" })
</li>
<li>
    @Html.ActionLink("All cars", "Index", "AllCars", new { area = "Administration" }, htmlAttributes: new { title = "Manage" })
</li>
<li>
    @Html.ActionLink("Add customer and car", "AddUser", "AddUser", new { area = "Administration" }, htmlAttributes: new { title = "Manage" })
</li>